<section class="posts-preview">

  <% @posts.each do |post|%>
  <section class="post">
    <a href="<%= url_for post %>">

      <header class="post-header">
        <h2 class="post-title"><%= post.title %></h2>

        <p class="post-meta">
          <time datetime="<%= post.created_at.iso8601 %>"><%= post.created_at.to_s(:pretty) %></time>
        </p>
      </header>
    </a>

    <div class="post-description">
      <%= raw(post.rendered_abstract) %>
    </div>

  </section>
  <% end %>
</section>