<div class="posts-preview">

  <section class="post">
    <a href="/posts/i-code-java-2016.html">

      <header class="post-header">
      <h2 class="post-title">I Code Java 2016</h2>
      <p class="post-meta">
        <time datetime="2016-07-24 16:00:00 UTC">Sun, Jul 24 2016 at 4:00pm</time>
      </p>
      </header>
    </a>

    <div class="post-description">
      <h2>Butterflies with Freakin' Laser Beams</h2>
      <p>I was very honoured to speak at the <a href="http://j-sa.co/">I Code Java 2016</a> conference held at the
        <a href="http://www.focusrooms.co.za/">focus rooms</a> on the 21st and 22nd of July. Unfortunately I wasn&#39;t
        able to record my screen for the talk, but I&#39;ll do a screen cast of the content in the next two weeks. I&#39;ll
        update this post with the link. I switched out the section on where blocks with a fork of the code given at Pavel
        Dabrytski&#39;s <a href="https://www.youtube.com/watch?v=HR8aBqxAUGc">great talk</a> on Ping Pong TDD.</p>

      <h2>Links...</h2>
    </div>
  </section>
  <% @posts.each do |post|%>
  <section class="post">
    <a href="<%= url_for post %>">

      <header class="post-header">
        <h2 class="post-title"><%= post.title %></h2>

        <p class="post-meta">
          <time datetime="<%= post.created_at.iso8601 %>"><%= post.created_at.to_s(:pretty) %></time>
        </p>
      </header>
    </a>

    <div class="post-description">
      <%= raw(post.rendered_abstract) %>
    </div>

  </section>
  <% end %>
</div>
